API_FOOTBALL_KEY=
WK_HUB_SYNC_TOKEN=
WK_HUB_ADMIN_EMAILS=karel.geraedts@talpanetwork.com,olivier.thijsen@talpanetwork.com,sem.aslier@talpanetwork.com
API_FOOTBALL_DAILY_LIMIT=90
API_FOOTBALL_SQUAD_SYNC_BATCH_SIZE=6
